<ion-header>
  <ion-toolbar>
    <ion-title>Prijava na sistem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form #logInForm="ngForm" (ngSubmit)="onLogIn(logInForm)" class="login-form">
    <div class="loginRegister-image">
      <img src="./assets/slike/loginRegister.png"/>
    </div>
        <ion-list>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" placeholder="Email" ngModel name = "email" email required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input [type]="show ? 'text' : 'password'" placeholder="Lozinka"  ngModel name = "password" minlength="7" required></ion-input>

      </ion-item>
    </ion-list>
     
    <ion-row>
      <ion-col >
        <ion-button id="present-alert" type="submit" shape="round" expand="block" [disabled] = "logInForm.invalid">Prijavi se</ion-button>
      </ion-col>
    </ion-row>
    <br><br><br><br>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <a color="primary" class="go-to-register" routerLink = "/register">Registracija</a>
      </ion-col>
    </ion-row>

</form>
</ion-content>
