<ion-header>
  <ion-toolbar>
    <ion-title>Registracija na sistem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm)" class="register-form"  >
<div class="loginRegister-image">
  <img src="./assets/slike/loginRegister.png"/>

</div>
    <ion-list>
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" placeholder="Ime" ngModel name = "name" text required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" placeholder="Prezime" ngModel name = "surname" text required></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" placeholder="Email" ngModel name = "email" email required ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input [type]="show ? 'text' : 'password'" placeholder="Lozinka" ngModel name = "password" minlength="7" required clearOnEdit="false"> </ion-input>
      </ion-item>
    </ion-list>  
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-button id="present-alert" type="submit" color="primary" shape="round" expand="block" [disabled] = "registerForm.invalid">Registruj se</ion-button>
      </ion-col>
    </ion-row>
    <br><br><br><br>

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <a color="primary" class = "go-to-login" routerLink = "/login">Prijava</a>
      </ion-col>
    </ion-row>
</form>
</ion-content>
