<ion-header>
  <ion-toolbar>
    <ion-title>Vaša narudžbenica</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let stavka of nizStavki">
      <ion-label>
        <h2>{{ stavka.naslov }}</h2>
        <p>{{ stavka.kolicina }} x {{ stavka.cena }} RSD</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>
      <p class="racun">Ukupna cena: {{ ukupnaCena() }} RSD</p>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="ukupnaKolicina() >0">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <h4>Da li sigurno želite da naručite ove knjige?</h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="potvrda-da" (click)="potvrdiNarudzbenicu()" color="secondary">Da</ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="potvrda-ne" (click)="close()" >Ne</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  
    
</ion-content>
