<ion-header>
  <ion-toolbar>
    <ion-title>Vaša narudžbenica</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Zatvori</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let stavka of nizStavki">
      <ion-label>
        <h2>{{ stavka.naslov }}</h2>
        <p> {{stavka.kolicina}} x {{stavka.cena}} RSD</p>
        
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>
      <h2>Ukupna cena: {{ ukupnaCena() }} RSD</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h2>Da li sigurno želite da naručite ove knjige?</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-button expand="full" (click)="potvrdiNarudzbenicu()">Da</ion-button>
    <ion-button expand="full" color="light" (click)="close()">Ne</ion-button>
  </ion-item>
</ion-content>
