<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: 30px"> Za poruciti </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content fixed-slot-placement="before">
   

    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button (click)="prikaziPopup()">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-list>
      <app-knjiga-element-poruci
        *ngFor="let knjiga of knjige"
        [knjiga]="knjiga">
      </app-knjiga-element-poruci>
    </ion-list>
</ion-content>
