
<ion-grid>
  <ion-row>
    <ion-col>
      <img [src]="knjiga.slika" />
    </ion-col>
    <ion-col>
      <ion-card-title>{{knjiga.naslov}}</ion-card-title>
    <ion-card-subtitle>{{knjiga.autor}}</ion-card-subtitle>
    <ion-card-content>
      Kolicina:{{knjiga.kolicina}}
    </ion-card-content>
    <ion-card-content>
      Cena:{{knjiga.cena}}
      
    </ion-card-content>
    <ion-card-content>
      Status:{{knjiga.status}}
      
    </ion-card-content>
    </ion-col>
  </ion-row>
</ion-grid>

