<div class="book-info" [ngClass]="{ 'promeni-boju': promeniBoju }">
  <img [src]="knjiga.slika" alt="Slika knjige" />
  <div>
    <ion-card-title class="knjiga-naslov">{{ knjiga.naslov }}</ion-card-title>
    <ion-card-subtitle class="knjiga-autor">{{
      knjiga.autor
    }}</ion-card-subtitle>
    <div class="knjiga-info">
     <b> Cena: {{ knjiga.cena }} RSD<br /><br></b>
      Količina za poručivanje:
      <ion-input [(ngModel)]="kolicina" class="kolicina-porucivanje" type="number" name="poruciti"></ion-input>
      <ion-button (click)="dodajUKorpu()" [disabled]="dodatoUKorpu">Dodaj</ion-button>
    </div>
  </div>
</div>
