<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-size: 30px;"> Knjižara Albatross </ion-title>

    <ion-buttons slot="end">
      <ion-fab-button size = "small"(click) = "openModal()">
        <ion-icon name = "add-circle" ></ion-icon>
      </ion-fab-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-knjiga-element *ngFor="let knjiga of knjige" [knjiga]="knjiga" [routerLink] = "['/', 'home', 'tabs', 'pocetna', knjiga.id]"></app-knjiga-element>
    
  </ion-list>

</ion-content>
