.order-info {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.order-info {
  font-size: 15px;
  color: #333;
}

.order-total{
  display: grid;
}
.order-naslov {
  font-size: 25px;
  padding-bottom: 10px;
}

.order-date {
  padding-bottom: 20px;
}

.stavke-lista {
  margin-top: 16px;
}

.stavke-lista {
  .stavka-info {
    margin-bottom: 12px;
    padding: 12px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
