<div class="order-info">
  <div>
    <ion-card-title class="order-naslov">Narudžbenica</ion-card-title>
    <ion-card-subtitle class="order-date">{{narudzbenica.datum}}</ion-card-subtitle>
    <div class="order-info">
      <div class="order-total">
          <b> Količina: {{narudzbenica.ukupnaKolicina}}<br>
            <hr class="divider">
          Iznos: {{narudzbenica.ukupnaCena}} RSD<br></b><br>
          <ion-button class="button-stiglo" color="success" (click)="onStiglo()"> Stiglo</ion-button><br>
      </div>
      <div class="stavke-lista">
        <div class="stavka-info" *ngFor="let stavka of narudzbenica.stavke">
         
          <p> <b>{{stavka.kolicina}}</b> x "{{stavka.naslov}}"</p>
          <p>Cena: <b>{{stavka.cena}} RSD</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
