.order-info {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

.order-info {
  font-size: 15px;
  color: #333;
}

.order-total {
  display: grid;
  padding-right: 10px;

  .divider {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
  }
}
.order-naslov {
  font-size: 25px;
  padding-bottom: 10px;
}

.order-date {
  padding-bottom: 20px;
}

.stavke-lista {
  margin-top: 16px;
  .stavka-info {
    margin-bottom: 12px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #bed7dc;
  }
}
