<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalji</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="knjiga.slika" width="60%" height="60%" />
    <ion-card-header>
      <ion-card-title>{{knjiga.naslov}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>Autor: {{knjiga.autor}}</ion-card-content>
    <ion-card-content>Cena: {{knjiga.cena}} RSD</ion-card-content>
    <ion-card-content>ISBN: {{knjiga.isbn}}</ion-card-content>
    <ion-card-content>Količina: {{knjiga.kolicina}}</ion-card-content>
    <ion-card-content>Status: {{knjiga.status}}</ion-card-content>
    <ion-card-content>Opis: {{knjiga.opis}}</ion-card-content>
  </ion-card>
  <ion-button class="dugme" (click)="onEditKnjiga()"> Izmeni </ion-button>
  <ion-button class="dugme" (click)="promeniStatusKnjige(Status.Arhivirano)"> Arhiviraj </ion-button>

  <ion-card>
    <ion-item>
      <ion-label position="floating">Unesite komentar:</ion-label>
      <ion-textarea [(ngModel)]="komentar"></ion-textarea>
    </ion-item>
    <ion-button calss="dugme" expand="block" (click)="addKomentar()">Objavi</ion-button>
  </ion-card>

  <ion-card *ngFor="let komentar of komentari">
    <ion-card-content>
      <p>{{ komentar.komentar }}</p>
    </ion-card-content>
    <ion-button class="dugme">Štampaj</ion-button>  
  </ion-card>
</ion-content>
