<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Knjizara </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        Početna
      </ion-tab-button>
      <ion-tab-button tab="radio">
        <ion-icon name="add-circle"></ion-icon>
        Dodaj
      </ion-tab-button>
      <ion-tab-button tab="library">
        <ion-icon name="layers"></ion-icon>
        Dopuni
        <!-- Smisliti bolji naziv -->
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="person-circle"></ion-icon>
        Profil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
