<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pocetna">
      <ion-icon name="home"></ion-icon>
      Početna
    </ion-tab-button>
    <ion-tab-button tab="poruci">
      <ion-icon name="layers"></ion-icon>
      Poruči
      <!-- Smisliti bolji naziv -->
    </ion-tab-button>
    <ion-tab-button tab="narudzbenice">
      <ion-icon name="library"></ion-icon>
      Narudžbenice
    </ion-tab-button>
    <ion-tab-button tab="profil">
      <ion-icon name="person-circle"></ion-icon>
      Profil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
