<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="pocetna" class="tab-bar">
      <ion-icon name="home"></ion-icon>
      Početna
    </ion-tab-button>
    <ion-tab-button tab="dodaj" class="tab-bar">
      <ion-icon name="add-circle"></ion-icon>
      Dodaj
    </ion-tab-button>
    <ion-tab-button tab="poruci" class="tab-bar">
      <ion-icon name="layers"></ion-icon>
      Poruci
      <!-- Smisliti bolji naziv -->
    </ion-tab-button>
    <ion-tab-button tab="profil" class="tab-bar">
      <ion-icon name="person-circle"></ion-icon>
      Profil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
